:host {
  width: 100%;

  mat-toolbar {
    justify-content: space-between;
    padding: 0 1.5rem;

    .toolbar-start {
      display: flex;
      align-items: center;
      gap: 0.5rem;

      .logo {
        display: flex;
        align-items: center;
        gap: 0.3rem;

        mat-icon {
          width: 2rem;
          height: 2rem;
        }

        h1 {
          font-size: 1.25rem;
        }
      }
    }
  }
}
