<mat-toolbar>
  <div class="toolbar-start">
    <!-- <button matIconButton aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button> -->
    <a class="logo"routerLink="/">
      <mat-icon svgIcon="whileinsofia"></mat-icon>
      <h1>While in Sofia</h1>
    </a>
  </div>
  <div class="toolbar-end">
    <button matIconButton class="favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
  </div>
</mat-toolbar>
